


.c1{
	background-color:#645D5D;
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 10px;
	
}

.c2{
	background-color:#645D5D;
	height: 100px;
	width: 320px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 10px;


	}


.caja1{
	background-color:#645D5D;
	border: 1px solid  black;
	height: 92px;
	width: 92px;
	margin: 5px 5px 5px 5px;
	display: inline-block;
}




.c3{
	background-color:#645D5D;
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 10px;
	display:inline-block;

}

.c4{
	background-color:#645D5D;
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 10px;
	display:inline-block;
}


.c5{
	background-color:#645D5D;
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 10px;
	}

}


.c6{
	background-color:#645D5D;
	height: 100px;
	width: 100px;





